.happyclient {
    width: 1264px;
    height: 597px;
    flex-shrink: 0;
}

.headtext {
    color: #000;
    text-align: center;
    font-size: 40px;
}

.headtextchild {
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.imageman {
    border-radius: 500px 0px 500px 500px;
}

.imageman {
    display: flex;
    justify-content: baseline;
}

.description {
    margin-top: 220px;
    font-size: 20px;
}

.aboutman {
    color: #565656;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 0.2px;
}

.content {
    display: flex;
}

.photos {
    margin-right: -120px;
}

.shapes {
    display: flex;
    margin-left: -60px;
    margin-top: -70px;
}

.shape {
    width: 10px;
    height: 10px;
}