.headline {
    width: 1372px;
    height: 608px;
    flex-shrink: 0;
    margin-left: 125px;
    display: flex;
}

h1 {
    color: #000;
    font-size: 25px;
    font-weight: 400;
}

.Ptext {
    color: #565656;
    font-size: 26px;
}


.ContactNow {
    display: inline-flex;
    padding: 2px 40px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 60px;
    background: #2639ED;
}

.contact {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1.3px;
}

.headlineimage {
    border-radius: 0px 0px 0px 200px;
}

.image {
    width: 754px;
    height: 512px;
    flex-shrink: 0;
    margin-top: -100px;
}

.texts {
    margin-top: 100px;
    margin-right: 40px;
}