.since {
    margin-left: 50px;
    display: flex;
}

.workimage {
    position: relative;
}

.workimage img {
    display: block;
    margin: 0 auto;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.digproduct {
    color: #000;
    font-size: 40px;
}

.sincetext {
    margin-top: 100px;
    position: relative;
}

.pixel {
    position: absolute;
    border-radius: 0px 0px 100px 0px;
    background: #EFF1FF;
    width: 178px;
    height: 178px;
}

.SinceTexts {
    position: absolute;
    z-index: 10;
    width: 500px;
    margin-left: 20px;
}

.sincetext3 {
    color: #565656;
    font-size: 16px;
    margin-top: 25px;
}